# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/


*.kdev4
*.sdf
*.pdb
*.exp
*.opensdf
*.suo
*.ilk

# windows
[Dd]ebug/
[Rr]elease/
[Bb]bin/
[Bb]oost/
lib/boost/*


